.hero {
  padding: 254px 0 170px 0;
  background-image: url(/public/assets/images/banner-1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(16, 32, 57, 0.9) 0%,
    rgba(11, 21, 38, 0.6) 56.25%,
    rgba(0, 0, 0, 0) 97.81%
  );
}
.hero-left {
  max-width: 700px;
  position: relative;
}
h1.hero-title {
  color: var(--white-color);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 77px;
  padding: 20px 0;
}
.hero-wrapper {
  max-width: 1320px;
  margin: auto;
  padding: 0 20px;
}
.banner-sub-title {
  color: var(--white-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 9px;
  text-transform: uppercase;
}
.hero-text {
  color: var(--white-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-bottom: 40px;
}

/* =========== About us ===========*/
.about-left {
  position: relative;
}
.about-img-2 {
  position: absolute;
  z-index: 1;
  right: 18px;
  bottom: 88px;
  border: 10px solid #ffff;
}
.about-list-item {
  display: flex;
  align-items: start;
  gap: 20px;
  margin-top: 28px;
}

.about-list-icon {
  width: 100px;
  background: var(--main-color);
  /* height: 100px; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.about-list-icon span {
  color: #fff;
  font-size: 40px;
}

.about-list-content h4 {
  font-size: 20px;
  font-weight: 800;
}

/* =============== Service ========= */
.service-title {
  margin: auto;
  width: 45%;
  padding-bottom: 80px;
  text-align: center;
  justify-content: center;
}
.service-card-item {
  background: var(--white-color);
  overflow: hidden;
  box-shadow: 0 10px 10px #ddd;
  margin-bottom: 20px;
}
.service-card-item .service-img {
  width: 100%;
  transition: 0.4s;
  cursor: pointer;
}
.service-card-item .service-img:nth-child(1):hover {
  transform: scale(1.05);
}
.service-card-item .service-img img {
  width: 100%;
}
.service-content {
  padding: 20px;
}
a.service-name {
  font-size: 25px;
  color: var(--black-color);
  font-weight: 700;
  margin-bottom: 15px;
}
a.service-read-more {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #7922e6;
  margin-top: 10px;
}

/* ============ Our Team =========== */
.our-team-item {
  background: var(--white-color);
  overflow: hidden;
  box-shadow: 0 10px 10px #ddd;
}
.our-team-img {
  width: 100%;
  transition: 0.4s;
}
.our-team-img img {
  width: 100%;
}
.our-team-item .our-team-img:nth-child(1):hover {
  transform: scale(1.05);
}
.our-team-content {
  padding: 20px;
}
.our-team-content h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* ================ Why Choose =============== */
.footer {
  padding: 80px 0;
  background-color: var(--black-color);
  color: var(--white-color);
}
.footer-social-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-social-item li a {
  color: #fff;
  height: 36px;
  width: 36px;
  border: 1px solid #fff;
  font-size: 13px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease;
}
.footer-service-list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.footer-service-list ul li a {
  color: var(--white-color);
}
.footer-service-list ul li a:hover {
  color: var(--primary-color);
}
.news-letter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
}
.news-letter-wrapper input {
  padding: 10px 30px;
  width: 100%;
  border-radius: 4px;
}
.news-letter-wrapper .custom-btn {
  padding: 10px 30px;
  width: 100%;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  margin-top: 40px;
  padding-top: 40px;
}
.footer-terms-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-terms-item a {
  color: var(--white-color);
}
.footer-terms-item a:hover {
  color: var(--primary-color);
}
a.footer-logo img {
  width: 100px;
}

/* ============== Banner =============== */
.banner {
  padding: 250px 0 100px 0;
  background-size: cover;
  background-image: url(../images/page-title-bg-1.png);
}
.banner-wrapper .section-title {
  color: var(--white-color);
}
.banner-wrapper ul {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.banner-wrapper ul li a {
  color: var(--white-color);
}
.banner-wrapper ul span {
  color: var(--white-color);
}
.banner-color a {
  color: var(--primary-color) !important;
}
.contact-us-list ul li {
  padding: 50px 40px 40px 40px;
  background: #f8f8f8;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 10px 10px #ddd;
  border-radius: 7px;
}
.contact-us-list-item span {
  font-size: 40px;
  color: var(--primary-color);
}
.contact-us-list-item h4 {
  margin-top: 10px;
}
.contact-us-form {
  padding: 60px;
  background: #f8f8f8;
  box-shadow: 0px 10px 10px #ddd;
  border-radius: 10px;
}
.form-title h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.contact-input-fuild {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-input-fuild input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}
.contact-input-fuild textarea {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.service-details-img {
  display: flex;
  align-items: center;
  gap: 30px;
}
.service-details-img img {
  width: 100%;
}
.service-details-right {
  background: #eceeef;
  padding: 40px 30px;
}
.service-details-right h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.service-details-right ul li {
  padding: 10px 20px;
  background: var(--white-color);
  margin-bottom: 10px;
  border-radius: 4px;
}
.service-details-right ul li a {
  color: var(--black-color);
}
.service-details-right ul li a:hover {
  color: var(--primary-color);
}
